.datatables-controls {
    flex-wrap: wrap;

    .searchBuilder {
        margin-top: var(--bs-spacer-2);

        .dtsb-searchBuilder {
            margin: 0;

            > .dtsb-group {
                margin: 0;
            }
        }
    }
}

.datatables-table {
    overflow: auto;

    .dataTable {
        thead {
            tr {
                th {
                    position: sticky !important;
                    top: 0;
                    background: var(--bs-body-bg);
                    z-index: 2;
                }
            }
        }
        tbody {
            tr {
                td {
                    &:has(.actions) {
                        width: 34px;

                        .actions {
                            width: 34px;
                        }
                    }
                }

                &.selected {
                    td {
                        &:has(.actions) {
                            .actions {
                                >button {
                                    color: var(--bs-white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.datatables-footer {
    border-top: var(--bs-border-width) solid var(--bs-border-color);
}

@media screen and (max-width: 768px) {
    .datatables-footer{
        .dataTables_length {
            font-size: 0rem;
        }

        .dataTables_paginate {
            ul {
                li:not(.previous):not(.next):not(.active) {
                    display: none;
                }
            }
        }
    }
}
